[submodule "dumb/dumb-src"]
	path = dumb/dumb-src
	url = https://github.com/kode54/dumb.git
[submodule "taglib/taglib-src"]
	path = taglib/taglib-src
	url = git@github.com:taglib/taglib.git
[submodule "ogg/ogg-src"]
	path = ogg/ogg-src
	url = https://github.com/xiph/ogg.git
[submodule "flac/flac-src"]
	path = flac/flac-src
	url = https://github.com/xiph/flac.git
[submodule "flac/ogg-src"]
	path = flac/ogg-src
	url = https://github.com/xiph/ogg.git
[submodule "wavpack/wavpack-src"]
	path = wavpack/wavpack-src
	url = https://github.com/dbry/WavPack.git
[submodule "vorbis/vorbis-src"]
	path = vorbis/vorbis-src
	url = https://github.com/xiph/vorbis.git
[submodule "vorbis/ogg-src"]
	path = vorbis/ogg-src
	url = https://github.com/xiph/ogg.git
[submodule "opus/ogg-src"]
	path = opus/ogg-src
	url = https://github.com/xiph/ogg.git
[submodule "opus/opus-src"]
	path = opus/opus-src
	url = https://github.com/xiph/opus.git
[submodule "speex/speex-src"]
	path = speex/speex-src
	url = https://github.com/xiph/speex.git
[submodule "speex/speexdsp-src"]
	path = speex/speexdsp-src
	url = https://github.com/xiph/speexdsp.git
[submodule "opus/opusfile-src"]
	path = opus/opusfile-src
	url = https://github.com/xiph/opusfile.git
