[submodule "opus/opus-src"]
	path = opus/opus-src
	url = https://github.com/xiph/opus.git
[submodule "opus/opusfile-src"]
	path = opus/opusfile-src
	url = https://github.com/xiph/opusfile.git
[submodule "opus/libopusenc-src"]
	path = opus/libopusenc-src
	url = https://github.com/xiph/libopusenc.git
