[submodule "taglib/taglib-src"]
	path = taglib/taglib-src
	url = https://github.com/taglib/taglib.git
[submodule "opus/opus-src"]
	path = opus/opus-src
	url = https://github.com/xiph/opus.git
[submodule "speex/speex-src"]
	path = speex/speex-src
	url = https://github.com/xiph/speex.git
[submodule "speex/speexdsp-src"]
	path = speex/speexdsp-src
	url = https://github.com/xiph/speexdsp.git
[submodule "opus/opusfile-src"]
	path = opus/opusfile-src
	url = https://github.com/xiph/opusfile.git
[submodule "opus/libopusenc-src"]
	path = opus/libopusenc-src
	url = https://github.com/xiph/libopusenc.git
[submodule "sndfile/libsndfile-src"]
	path = sndfile/libsndfile-src
	url = https://github.com/libsndfile/libsndfile.git
